.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: #f7f3e9c3;
}

.nav-title{
    text-decoration: none;
    color: black;
    font-family: 'UnifrakturMaguntia', serif;
}

/* .profile-nav{
    text-decoration: none;
    color: black;
    padding-right: 40px;

} */

.img-nav{
    margin-right: 40px;
        width: 50px;
        border-radius:50% ;
    /* height: 50px; */
}